@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: #F0DBDB;
    min-height: 100vh;
    border: .625rem solid #DBA39A;
}
.content{
    max-width: 68.75rem;
    margin: 0 auto;
    
}
.image_container,img{
   width: 300px;
   height: 320px;


}
.top_section{
    display: flex;
    justify-content: space-between;
    margin-top: 6.25rem;
    align-items: flex-end;
}
.image_container{
    border-radius: 10%;
    overflow: hidden;
}
.top_section h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #DBA39A;
    text-transform: uppercase;
}
.top_section h4{
    text-align: end;
    font-size: 1.25rem;
    color: gray;
}
.about{
    margin-top: 3.125rem;
}
.about h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    }
.about p{
    
    margin-bottom: 10px;
    
}
.biography{
    margin-top: 3.125rem;
    margin: 3.125rem 0;
    
}
.biography h3{
    margin-bottom: 1.25rem;
}

ul{
    margin-left: 3.125rem;
}
ul li{
    margin-bottom: .9375rem;
}
a{
    text-decoration: none;
}
.footer p{
    margin:3.125rem 0;
    text-align: end;
}
p{
    text-align: justify;
}

/* responsive */

@media (min-width: 300px) and (max-width: 600px) {
    .top_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: .625rem;
    }
    .top_section .name{
        font-size: x-large;
    }
    .content{
        padding: .625rem;
    }
    .about h2{
        font-size: x-large;
    }
  }

